* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #FFF;
    font-weight: 200;
}

.text::after,
.text::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #FFF;
    margin: 0 auto;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #f12711, #f5af19, #1E91D6);
    background-size: 300%;
    animation: colors 10s ease infinite;
    position: relative;
}

.waves {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.wave1 {
    animation: waves 3s ease-in-out infinite alternate;
}

.wave2 {
    animation: waves 1.5s ease-in-out infinite alternate;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes waves {
    from {
        transform: translateX(-500px);
    } to {
        transform: translateX(500px);
    }
}